.App {
  text-align: center;
  background-color: rgb(248, 226, 226);
  align-items: center;
  justify-content: center;
  display: inline-flex;
  min-height: 600px;
  color: white;
  width: 100%;
}

.page {
  transition: opacity 0.5s ease-in-out;
  background-color: #d37373;
  border: 1px solid darkblue;
  border-radius: 15px;
  padding: 5%;
  min-width: 750px;
  min-height: 200px;
  display: block;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.dark {
  opacity: 0.1;
  z-index: 1;
}

.light {
  opacity: 1;
  z-index: 2;
}

.loading-img-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.component {
  /* top | right | bottom | left */
  width: fit-content;
  margin: auto;
}

.display-component {
  background-color: rgb(246, 183, 183);
  border-radius: 15px;
  border: 1px solid black;
  margin: 10px 0 10px 0;
}

.switch {
  display: inline-flex;
  align-items: center;
  height: 40px;
  width: min-content;
  font-size: x-small;
}

.switch h1 {
  font-size: 2em;
  padding: 5px;
}

.switch svg {
  /* top | right | bottom | left */
  padding: 5% 0 0 10%;
  width: 90%;
  height: 90%;
}

.note-component {
  padding: 2.5%;
  width: 80%;
  margin: 0 10% 0 10%;
  display: block;
}

.note-edit {
  padding-top: 25px;
  font-weight: bold;
}

.weather-table {
  padding: 2.5%;
  width: max-content;
  display: block;
  margin: auto;
}

.weather-table img {
  width: 40px;
  height: 40px;
}

.weather-table td {
  border: 1px solid;
  border-color: black;
  width: 50px;
}

.card {
  background-color: rgb(237, 231, 159);
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 50px;
  width: 260px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  height: 300px;
}

.card h1 {
  color: black;
  font-size: large;
}

.card p {
  color: black;
  margin-top: 2px;
}

.card.rotate {
  transform: rotate(360deg);
  transition: all 1s ease-in-out;
}

.alert {
  z-index: 1;
  position: relative;
  background-color: rgb(122, 204, 247);
  display: inline-flex;
  height: 20px;
  border-radius: 10px;
  color: white;
  width: 95%;
  align-items: center;
}

.alert h1 {
  margin: auto;
  height: 18px;
  font-weight: bolder;
  font-size: small;
}

.note-task {
  transition: height 0.5s ease-in-out, font-weight 0.5s ease-in-out;
  height: 25px;
}

.note-task:hover {
  font-weight: bolder;
  height: 40px;
  cursor: pointer;
}

.note-done {
  text-decoration: line-through;
}
.form-field {
  flex-direction: column;
  width: 85%;
  padding-top: 7px;
}

.form {
  height: 170px;
}

.dismiss-button {
  position: absolute;
  right: 0;
  border-radius: 10px;
  border: 0;
  opacity: 0.5;
}

.dismiss-button:hover {
  opacity: 2;
  border-color: black;
  background-color: darkred;
}

.delete-button {
  position: relative;
  border-radius: 2px;
  border: 0;
  left: 115px;
  opacity: 0.5;
}

.delete-button:hover {
  opacity: 2;
  border-color: black;
  background-color: darkred;
}

.text-box {
  /* top | right | bottom | left */
  padding: 5px 5px 0 5px;
  border-right: 1px solid black;
  align-content: center;
}
